body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

/* If your videos are very tall, you may want to set a max-height */
/* video {
  max-height: 400px; /* Adjust based on your preference
  width: auto; /* This will maintain the aspect ratio 
}
*/

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px; /* Adjust as needed */
}

/* Style for the captions */
.video-container p {
  font-size: 18px;
  color: #333; /* Change as needed */
  margin-top: 5px; /* Space between video and caption */
}

.video-container p {
  font-size: 18px;
  color: #333; /* Change as needed */
  margin-top: 5px; /* Space between video and caption */
}


.videos-wrapper {
  display: flex;
  justify-content: center; /* This centers the videos horizontally */
  flex-wrap: wrap; /* In case the screen is too small, it allows wrapping */
  gap: 20px; /* Adjust the space between videos */
}

.wide-video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 48%; /* Adjust the width to fit two videos side by side */
}

.wide-videos-wrapper {
  display: flex;
  justify-content: space-around; /* This will place the videos side by side */
  flex-wrap: nowrap; /* Prevents wrapping to the next line */
}

/* Style adjustments for wide videos */
.wide-video-container video {
  max-width: 100%; /* Ensures video does not exceed its container */
  height: auto; /* Maintains aspect ratio */
}

.wide-video-container p {
  font-size: 14px;
  color: #333;
  margin-top: 5px;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}

@media (max-width: 1000px) { /* Adjust the breakpoint as needed */
  .videos-wrapper {
      flex-direction: column;
      align-items: center;
  }
}

/* Responsive Design for wider videos */
@media (max-width: 800px) {
  .wide-videos-wrapper {
      flex-direction: column;
      align-items: center;
  }
}
